@import "../../sass/main.scss";

.main__container {
  flex: 1;
  padding: 4rem 2rem;

  &__text-box {
    margin-bottom: 2rem;
    .heading {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 125.3%;
      padding: 1rem;

      display: flex;
      align-items: center;
    }

    .text {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 161.1%;
      padding: 1rem;

      color: #6e6f7d;
      display: flex;
      align-items: center;
    }
  }
  .widget__container {
    display: flex;

    width: 100%;
    gap: 2rem;
  }
  .project__container {
    position: relative;
    display: flex;

    width: 100%;

    gap: 2rem;
    overflow: hidden;

    .scroll__icon {
      position: absolute;
      top: 6rem;
      right: -7rem;
    }
  }

  .invoice__container {
    display: flex;
    gap: 2rem;

    width: 100%;
    padding: 0 1rem;
  }

  .main__center {
    display: flex;
    justify-content: space-between;

    &-filter-box {
      display: flex;
      align-items: center;
      gap: 2rem;
      height: 5rem;
      margin-top: 1rem;

      .btn-filter {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        font-size: $font-size-medium;
        border: none;
        outline: none;
        background: #ffffff;
        border: 1px solid #ece9f1;
        border-radius: 5px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
      }
    }
  }
}
